# Bỏ qua thư mục chứa game đã cài đặt
installed_games/
dist/
build/

# Bỏ qua các file nén tạm thời
*.zip
*.rar

# Bỏ qua cache của Python
__pycache__/
*.pyc

token_config.py
session.json
client_secret.json